.prose {
  --tw-prose-body: theme(colors.gray.900);
  --tw-prose-headings: theme(colors.gray.800);
}

.dark .prose {
  --tw-prose-body: theme(colors.white);
  --tw-prose-headings: theme(colors.gray.500);
}

/* estos selectores no usan :where, así ganan especificidad */
.prose :is(p, li, blockquote) {
  color: var(--tw-prose-body);
  font-size: 1.2rem;
}
.prose :is(h1, h2, h3, h4) {
  color: var(--tw-prose-headings);
}
