---
import { formatDate } from '@/lib/util'
import PostPreview from '@/components/PostPreview.astro'

const { post } = Astro.props
---

<li class="relative flex items-center justify-between">
  <a href={`/${post.id}`} class="group link relative">
    <span>{post.data.title}</span>

    <!-- Tooltip -->
    <PostPreview post={post} />
  </a>

  <span class="text-muted-text dark:text-dark-muted-text text-sm font-normal">
    {formatDate(post.data.publicationDate)}
  </span>
</li>
